# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Node / Frontend
# ===============================
node_modules/
dist/
build/
.cache/
.npm/
.eslintcache

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Temporary files
# ===============================
tmp/
temp/

# ===============================
# VS Code
# ===============================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ===============================
# Other editors`
# ===============================
.idea/
*.swp
*.swo
